*{
    font-family: JetBrainsMono;
    font-size: 14px;
    font-weight: 700;
    min-height: 0;
    color: white;
}

window#waybar {
    background-color: transparent;
}

#workspaces{
    margin: 2px 4px; /* vertical | horizontal */
    transition: none;
    background: transparent;
    border-radius: 10px;
}

#workspaces button{
    transition: none;
    background: #0f1213;
    padding: 2px 10px;
    border-radius: 10px;
    margin: 0 2px;
}

#workspaces button.active, #workspaces button.focused{
    padding: 2px 16px;
    font-size: 20px;
    border-radius: 10px;
    background: #A9C4D1;
}

/*  MODULES LEFT  */

#custom-archicon{
  font-size: 20px;
  color: #89B4FA;
  background: #0f1213;

  padding: 2px 10px;
  margin: 2px 2px;
  border-radius: 10px;
  transition: none;
}

/*  MODULES CENTER  */

#clock{
  padding: 8px 12px;
  margin: 2px 4px;
  border-radius: 10px;
  transition: none;

  background: #0f1213;
}

/*  MODULES LEFT  */

#temperature{
  padding: 2px 10px;
  margin: 2px 4px;
  border-radius: 10px;
  transition: none;

  background: #0f1213;
}

#pulseaudio{
  padding: 2px 10px;
  margin: 2px 4px;
  border-radius: 10px;
  transition: none;

  background: #0f1213;
}

#backlight{
  padding: 2px 10px;
  margin: 2px 4px;
  border-radius: 10px;
  transition: none;

  background: #0f1213;
}
	
#battery{
  padding: 2px 10px;
  margin: 2px 4px;
  border-radius: 10px;
  transition: none;

  background: #0f1213;
}

#network{
  padding: 2px 10px;
  margin: 2px 4px;
  border-radius: 10px;
  transition: none;

  background: #0f1213;
}

#memory,
#cpu,
#tray,
#sway-mode{
  padding: 2px 10px;
  margin: 2px 4px;
  border-radius: 10px;
  transition: none;

  background: #0f1213;
}


